@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);



#menu-2 .navbar-toggler {
  color: #c8eeec;
}
#menu-2 .nav-link {
  font-size: 24px;
  font-family: 'PT Serif', serif;
}
#menu-2 .navbar-brand {
  font-size: 18px;
}
#header4-3 H1 {
  color: #000000;
  font-size: 60px;
}
#content5-5 P {
  color: #fbfbfb;
  font-size: 22px;
}
#buttons1-w .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box4-l .lead UL {
  text-align: right;
}
#header3-q SMALL {
  font-size: 22px;
}
#header3-q H3 {
  font-size: 46px;
}
#features1-s DIV {
  text-align: center;
}
#features1-1b H4 {
  text-align: right;
  font-size: 22px;
}
#header3-1e SMALL {
  font-size: 17px;
  font-family: 'Alegreya Sans', sans-serif;
}
#header3-1e H3 {
  font-size: 46px;
}

#menu-h .navbar-toggler {
  color: #c8eeec;
}
#menu-h .nav-link {
  font-size: 24px;
  font-family: 'PT Serif', serif;
}
#menu-h .navbar-brand {
  font-size: 18px;
}
